@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  * {
    font-family: 'Hanken Grotesk', sans-serif;
  }

  h1 { @apply text-6xl }

  h2 { @apply text-5xl }
  
  h3 { @apply text-4xl}

  h4 { @apply text-3xl}
  
  h5 { @apply text-2xl }

  h6 { @apply text-xl }

  p { @apply text-base }

  img {
    @apply block w-full h-full object-cover object-center;
  }
  *::-webkit-scrollbar {
    display: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #D7F4E4 inset !important;
    -webkit-text-fill-color: #1C1B1F;
  }
  li>a>svg.stroke {
    stroke: #161616;
  }
  li>a>svg.fill {
    fill: #161616;
  }
  li>a>span {
    color: #161616;
  }

  li>a.active>svg.stroke {
    stroke: #00C297;
  }
  li>a.active>svg.fill {
    fill: #00C297;
  }
  li>a[aria-current='page']>span {
    color: #00C297;
  }

  li:hover a>svg.stroke {
    stroke: #00A27E;
  }
  li:hover a>svg.fill {
    fill: #00A27E;
  }
  li:hover a>span {
    color: #00A27E;
  }
}


@layer components {
  .nav__link.active {
    color: #00C297;
  }
  .input__field {
    @apply block w-full text-base outline-none text-dark-200 px-4 py-3 border border-gray-200 rounded-lg bg-[calc(100%-18px)] bg-no-repeat placeholder:text-gray-100 focus:border-[#37C779];
  }
  .submit__btn {
    @apply  block w-full py-3 px-6 my-4 rounded-lg bg-green border-2 border-[transparent] text-white text-sm font-bold uppercase hover:bg-green-700 focus:bg-green-700 disabled:bg-green-400 disabled:cursor-no-drop;
  }
}

