@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  * {
    font-family: 'Hanken Grotesk', sans-serif;
  }

  h1 { @apply text-6xl }

  h2 { @apply text-5xl }
  
  h3 { @apply text-4xl}

  h4 { @apply text-3xl}
  
  h5 { @apply text-2xl }

  h6 { @apply text-xl }

  p { @apply text-base }

  small { @apply text-sm }

  img {
    @apply block w-full h-full object-cover object-center;
  }
  *::-webkit-scrollbar {
    display: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #D7F4E4 inset !important;
    -webkit-text-fill-color: #1C1B1F;
  }
  li>a>svg.stroke {
    stroke: #161616;
  }
  li>a>svg.fill {
    fill: #161616;
  }
  li>div.nav>svg.stroke {
    stroke: #161616;
  }
  li>div.nav>svg.fill {
    fill: #161616;
  }
  li>a>span {
    color: #161616;
  }

  li>a.active>svg.stroke {
    stroke: #00C297;
  }
  li>a.active>svg.fill {
    fill: #00C297;
  }
  li>a[aria-current='page']>span {
    color: #00C297;
  }
  li>a.menu__nav[aria-current='page'] {
    background: #EFFBF8;
  }

  li:hover a>svg.stroke {
    stroke: #00A27E;
  }
  li:hover a>svg.fill {
    fill: #00A27E;
  }
  li:hover a>span {
    color: #00A27E;
  }
}


@layer components {
  .page__control {
    min-height: calc(100vh - 84px);
  }
  .nav__link.active {
    color: #00C297;
  }
  .menu__nav.active {
    color: #EFFBF8;
  }
  .home__tab.active {
    background: #EFEFEF;
    @apply text-sm px-6 py-[10px];
  }
  .transaction--type__btn.active {
    border-color: #00C297;
  }
  .input__field {
    @apply block w-full text-base outline-none text-dark-200 px-4 py-3 border border-gray-200 rounded-lg bg-[calc(100%-18px)] bg-no-repeat placeholder:text-gray-100 focus:border-[#37C779];
  }
  .submit__btn {
    @apply  block w-full py-3 px-6 my-4 rounded-lg bg-green border-2 border-[transparent] text-white text-sm font-bold uppercase hover:bg-green-700 focus:bg-green-700 disabled:bg-green-400 disabled:cursor-no-drop;
  }
  .flow__btn {
    @apply w-full uppercase mt-12 text-white bg-green py-[18px] rounded-lg text-sm font-bold hover:bg-green-700 disabled:bg-gray-100 disabled:cursor-no-drop
  }

  .lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  @apply bg-green;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

}

